@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@layer base {
  html,
  body {
    @apply min-h-screen bg-[#f5f7fa] text-uau-black antialiased selection:bg-uau-green selection:text-white;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-uau-gray/30 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-uau-gray/50;
}
